header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
}

.header-titulo {
  width: 20%;
  text-align: center;
}

main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  overflow: hidden;
}

.addTaskList,
.taskList {
  width: 280px;
  padding: 10px;
  margin-right: 10px;
  height: max-content;
  border-radius: 10px;
  background-color: rgb(26, 26, 26);
  color: rgb(240, 240, 240);
}
.taskList h1 {
  font-size: x-large;
}
.taskList h1:hover,
span:hover {
    cursor: pointer;
    color: black;
    background-color: aliceblue;
    border-radius: 5px;
}
.taskList-encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px 5px 5px;
}
.taskList-encabezado button {
  height: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.addTaskList {
  display: flex;
  justify-content: space-between;
}

.taskItems-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 700px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  overflow-x: auto;
}

.taskItems {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  height: max-content;
  color: inherit;

  border-radius: 5px;
  background-color: #41404086;
}

.taskItems-tarea {
  display: flex;
  justify-content: space-between;
}

.taskItems-tarea .tarea-texto {
  max-width: 200px;
  height: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
}

span:hover {
  cursor: pointer;
  color: black;
  background-color: aliceblue;
}

form {
  width: 100%;
}

input[type='text'] {
  width: 100%;
}
